/*===============================================
●index.css 画面の横幅が769px以上
===============================================*/

@media screen and (min-width: 769px) {
    img {
        max-width: 100%;
        height: auto;
        width: auto;
    }
    div.container {
        width: 100%;
    }
    body {
        margin: 0;
    }
    header {
        position: fixed;
        background: black;
        height: 100px;
        width: 100%;
        z-index: 1000;
    }
    #headerDiv {
        width: 100%;
        height: 100px;
        margin: auto auto auto 10%;
    }
    #headerDiv div {
        font-family: 'Candal', sans-serif;
        float: left;
        color: white;
        border: 1px white solid;
        width: 138px;
        height: 43px;
        text-align: center;
        padding-top: 20px;
        margin: 18px 5px;
    }
    #content div {
        font-family: 'Candal', sans-serif;
    }
    .main_margin {
        height: 70px;
    }
    #content {
        margin: 0 auto;
        float: none;
        width: 100%;
    }
    #content p {
        color: black;
        font-family: 'Noto Sans Japanese', sans-serif;
        padding-left: 3px;
        padding-right: 3px;
        margin: 0 auto 10px auto;
    }
    #content h1 {
        font-family: 'Candal', sans-serif;
        font-weight: 400;
    }
    #content h2 {
        background: -moz-linear-gradient(top, LightGrey, gray 50%, DimGray 51%, black);
        background: -webkit-gradient(linear, left top, left bottom, from(LightGrey), color-stop(50%, gray), color-stop(51%, DimGray), to(black));
        color: white;
        font-size: 18px;
    }
    #content h3 {
        background: -moz-linear-gradient(top left, #ffffff, LightGrey 60%, DimGray 80%, black);
        background: -webkit-gradient(linear, left top, right bottom, from(#ffffff), color-stop(60%, LightGrey), color-stop(80%, DimGray), to(black));
        color: black;
        text-shadow: 1px 1px #ffffff;
        border: 1px black solid;
        font-size: 18px;
        margin: 0 0px 10px 0px;
        width: 100%
    }
    #content h4 {
        border-left: 3px black solid;
        border-bottom: 1px black solid;
        padding-left: 3px;
        padding-bottom: 2px;
        margin: 0 auto;
    }
    #shopName {
        width: 600px;
        margin-left: 10%;
        margin-bottom: 20px;
        font-size: 60px;
        font-family: 'Candal', sans-serif;
    }
    #topImg {
        width: 700px;
    }
    #copyright {
        float: none;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 10px;
        font-size: 10px;
    }
    #Licensed {
        font-family: 'Candal', sans-serif;
        text-align: center;
        padding-bottom: 10px;
        margin: 0 0 0 0;
        font-size: 10px;
    }
    footer {
        background: black;
        height: 200px;
    }
    #footerDiv {
        width: 700px;
        height: 155px;
        padding-left: 130px;
        padding-top: 35px;
        margin: 0 auto;
    }
    #footLeft {
        float: left;
        background: black;
        color: white;
    }
    #footCenter {
        float: left;
        background: black;
        color: white;
    }
    #footRight {
        float: left;
        background: black;
        color: white;
    }
    #floatClear {
        float: none;
    }
    footer ul li {
        list-style: none;
        font-family: 'Noto Sans Japanese', sans-serif;
        padding: 3px 0px 5px 25px;
    }
    #contents {
        width: 100%;
        margin: 40px auto 0 auto;
        
    }
    
    div.incontents{
        width: 60%;
        margin: 10px auto;
        display: -webkit-box;　/* Safari,Google Chrome用 */  
    display: -moz-box;　/* Firefox用 */ 
    }
    div.incontents div{
        padding: 10px;
        width: 50%;
        
    }
    div.incontents img{
    vertical-align:middle;
    }
    /* 表示画面 */
    #sride {
        padding: 14%;
    }
    #stage {
        position: relative;
        max-width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }
    /*全ての写真を水平一列に格納したdiv、#photosに,
スライドショーの animation を設定*/
    #photos {
        position: absolute;
        top: -80%;
        width: 100%;
        animation: imgPassToLeft0 30s infinite;
        -webkit-animation: imgPassToLeft0 30s infinite;
    }
    /*各写真の並び位置を設定
#photo1, #photo2, #photo3, #photo4, #photo5 */
    #photo0 {
        left: 0%;
    }
    #photo1 {
        left: 100%;
    }
    #photo2 {
        left: 200%;
    }
    #photo3 {
        left: 300%;
    }
    #photo4 {
        left: 400%;
    }
    #photo5 {
        left: 500%;
    }
    #photo6 {
        left: 600%;
    }
    .pic {
        position: absolute;
        top: 0;
        width: 100%;
    }
    /*写真サイズを可変に*/
    .pic img {
        width: 100%;
    }
    /* 全てのラジオボタンを非表示に */
    #back1,
    #back2,
    #back3,
    #back4,
    #back5,
    #next1,
    #next2,
    #next3,
    #next4,
    #next5 {
        display: none;
    }
    /*送りボタン文字（＜、＞）の設定*/
    .b_left span,
    .b_right span {
        position: absolute;
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        font-size: 40px;
        font-weight: bold;
        opacity: 0;
        top: 45%;
        color: #EEE;
    }
    .b_left span {
        left: 5%;
    }
    .b_right span {
        left: 90%;
    }
    /*ボタン文字hover時の設定*/
    .pic:hover > label div span {
        opacity: 1;
        color: #EEE;
    }
    .pic label div span:hover {
        color: #f00;
        cursor: pointer;
    }
    /* 各送りボタンクリック時のanimation設定 */
    #next1:checked ~ #photos {
        animation: imgPassToLeft1 30s infinite;
        animation-delay: -4.8s;
        -webkit-animation: imgPassToLeft1 30s infinite;
        -webkit-animation-delay: -4.8s;
    }
    #next2:checked ~ #photos {
        animation: imgPassToLeft2 30s infinite;
        animation-delay: -10.8s;
        -webkit-animation: imgPassToLeft2 30s infinite;
        -webkit-animation-delay: -10.8s;
    }
    #next3:checked ~ #photos {
        animation: imgPassToLeft3 30s infinite;
        animation-delay: -16.8s;
        -webkit-animation: imgPassToLeft3 30s infinite;
        -webkit-animation-delay: -16.8s;
    }
    #next4:checked ~ #photos {
        animation: imgPassToLeft4 30s infinite;
        animation-delay: -22.8s;
        -webkit-animation: imgPassToLeft4 30s infinite;
        -webkit-animation-delay: -22.8s;
    }
    #next5:checked ~ #photos {
        animation: imgPassToLeft5 30s infinite;
        animation-delay: -28.8s;
        -webkit-animation: imgPassToLeft5 30s infinite;
        -webkit-animation-delay: -28.8s;
    }
    #back1:checked ~ #photos {
        animation: imgPassToRight1 30s infinite;
        animation-delay: -28.8s;
        -webkit-animation: imgPassToRight1 30s infinite;
        -webkit-animation-delay: -28.8s;
    }
    #back2:checked ~ #photos {
        animation: imgPassToRight2 30s infinite;
        animation-delay: -22.8s;
        -webkit-animation: imgPassToRight2 30s infinite;
        -webkit-animation-delay: -22.8s;
    }
    #back3:checked ~ #photos {
        animation: imgPassToRight3 30s infinite;
        animation-delay: -16.8s;
        -webkit-animation: imgPassToRight3 30s infinite;
        -webkit-animation-delay: -16.8s;
    }
    #back4:checked ~ #photos {
        animation: imgPassToRight4 30s infinite;
        animation-delay: -10.8s;
        -webkit-animation: imgPassToRight4 30s infinite;
        -webkit-animation-delay: -10.8s;
    }
    #back5:checked ~ #photos {
        animation: imgPassToRight5 30s infinite;
        animation-delay: -4.8s;
        -webkit-animation: imgPassToRight5 30s infinite;
        -webkit-animation-delay: -4.8s;
    }
}


/* animation設定 */

@keyframes imgPassToLeft0 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@keyframes imgPassToLeft1 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@keyframes imgPassToLeft2 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@keyframes imgPassToLeft3 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@keyframes imgPassToLeft4 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@keyframes imgPassToLeft5 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@keyframes imgPassToRight1 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes imgPassToRight2 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes imgPassToRight3 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes imgPassToRight4 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@keyframes imgPassToRight5 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes imgPassToLeft0 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@-webkit-keyframes imgPassToLeft1 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@-webkit-keyframes imgPassToLeft2 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@-webkit-keyframes imgPassToLeft3 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@-webkit-keyframes imgPassToLeft4 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@-webkit-keyframes imgPassToLeft5 {
    0% {
        left: -100%;
    }
    16% {
        left: -100%;
    }
    20% {
        left: -200%;
    }
    36% {
        left: -200%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -400%;
    }
    76% {
        left: -400%;
    }
    80% {
        left: -500%;
    }
    96% {
        left: -500%;
    }
    100% {
        left: -600%;
    }
}

@-webkit-keyframes imgPassToRight1 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes imgPassToRight2 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes imgPassToRight3 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes imgPassToRight4 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}

@-webkit-keyframes imgPassToRight5 {
    0% {
        left: -500%;
    }
    16% {
        left: -500%;
    }
    20% {
        left: -400%;
    }
    36% {
        left: -400%;
    }
    40% {
        left: -300%;
    }
    56% {
        left: -300%;
    }
    60% {
        left: -200%;
    }
    76% {
        left: -200%;
    }
    80% {
        left: -100%;
    }
    96% {
        left: -100%;
    }
    100% {
        left: 0%;
    }
}